rofi.lines: 1
rofi.eh: 1
rofi.padding: 40

!rofi.fullscreen: true
rofi.bw: 0
rofi.separator-style: none
rofi.hide-scrollbar: true
!rofi.xoffset: -341
!rofi.yoffset: 304

!                  'background', 'border', 'separator'
rofi.color-window: argb:ff1B1A24, #ffffff, #1d1f21
!rofi.color-window: argb:ef25262E, #ffffff, #1d1f21
! State:           'bg',     'fg',     'bgalt',  'hlbg',   'hlfg'
rofi.color-normal: argb:031d1f21, #ffffff, argb:031d1f21, argb:031d1f21, #9575cd 
rofi.color-urgent: argb:031d1f21, #ffffff, argb:bc303541, argb:031d1f21, #9575cd
rofi.color-active: argb:031d1f21, #ffffff, argb:031d1f21, argb:031d1f21, #9575cd 
rofi.font: System San Francisco Display 20

urxvt.color0:  rgb:00/00/00
urxvt.color1:  rgb:9e/18/28
urxvt.color2:  rgb:5c/b2/47
urxvt.color3:  rgb:96/8a/38
urxvt.color4:  rgb:41/61/a0
urxvt.color5:  rgb:9b/76/8e
urxvt.color6:  rgb:41/91/89
urxvt.color7:  rgb:be/be/be   
urxvt.color8:  rgb:66/66/66
urxvt.color9:  rgb:cf/61/71
urxvt.color10: rgb:c5/f7/79
urxvt.color11: rgb:ff/f7/96
urxvt.color12: rgb:41/86/be
urxvt.color13: rgb:cf/9e/be
urxvt.color14: rgb:71/be/be
urxvt.color15: rgb:dd/dd/dd

URxvt.letterSpace: -1
URxvt.font: xft:monaco:bold:size=13
URxvt.scrollBar: boolean
urxvt*depth: 32
urxvt*background: rgba:0029/002b/002b/dfff
!urxvt*background: rgba:0000/0000/0200/99ff
URxvt.foreground: white

Emacs.font: MonacoB2
Emacs.menuBar: off
Emacs.verticalScrollBars: off
Emacs.toolBar: off
Emacs.foreground: white
Emacs.background: black
