* {
	text-color:        #ffffff;
	background-color:  rgba(33, 33, 33, 0.4);
	
	fc-color: #00b29800;
	bg-color: #212121;
	fc-color-trans: #51474F;
	bg-color-trans: #003c4100;

	font: "MonacoB Nerd Font Bold 13";
}

/* ================================================= */
/* Main container                                    */
/* ================================================= */
#window {
	location:      center;
	anchor:        center;
	border:        0px 0px 0px 0px;
}

/* First container */
#mainbox {

	expand:            false;
	background-color:  @bg-color;
	spacing:           1em;
  	border: 0px 0px 0px 0px;
	border-color: #666666;
}

/* ================================================= */

/* ================================================= */
/* Sidebar and its elements                          */
/* ================================================= */

#button {
	font:          "MonacoB Nerd Font Bold 13";
	padding:       0.6em;
	margin:        0.6em;
	border-radius: 0.75em;
}

#button selected {
	font:              "MonacoB Nerd Font Bold 13";
	background-color:  @fc-color-trans;
}

/* ================================================= */
/*  Input bar                                        */
/* ================================================= */
#inputbar {
	padding:       0.7em 1em 0 1.4em;
	spacing:		   0.6em;
}

#prompt {
	font: "MonacoB Nerd Font Bold 13";
}

#entry {
	font: "MonacoB Nerd Font Bold 13";
	width: 0%;
}
/* ================================================= */


/* ================================================= */
/* List view					     */
/* ================================================= */
#listview {
	spacing: 0px;
}

#element {
	font:     "MonacoB Nerd Font Bold 13";
	padding:  0.3em 0;
	margin:   0 0.3em 0 0.3em;
	border-radius: 0.75em;
}

#element selected normal {
	background-color: @fc-color-trans;
}

#element normal active {
	background-color: @fc-color-trans;
}

#element normal urgent {
	background-color: Orange;
}

#element alternate normal {
}

#element alternate active {
	text-color: @focus-col;
}

#element alternate urgent {
	background-color: OrangeRed;
}

#element selected active {
	background-color:  @fc-color-trans;
}

#element selected urgent {
	background-color:  DarkOrange;
}
